<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>언택트 랩스타</title>
    <link rel="stylesheet" href="../css/rapper.css" />
</head>

<body>
    <div class="blank_2"></div>
    <img class="main_logo" src="../source/mainlogo.png" width="220px" height="80px" />
    <div class="main_container">
        <form method="get" action="submit.html">
            <div class="rapper">
                <div class="rapstar1">
                    <img class="rapper_img" src="../source/profile.jpg" />
                    <div class="rapper_name">광인사 Dell루나</div>
                    <img class="play" src="../source/record.png" width=50px height=50px />
                    <br />
                    <label class="pick"><input type="radio" name="rapstar" value="rapstar1"></label>
                </div>
                <div class="rapstar2">
                    <img class="rapper_img" src="../source/profile.jpg" />
                    <div class="rapper_name">랩하고 노래해 한마리 사자처럼</div>
                    <img class="play" src="../source/record.png" width=50px height=50px />
                    <br />
                    <label class="pick"><input type="radio" name="rapstar" value="rapstar2"></label>
                </div>
                <div class="rapstar3">
                    <img class="rapper_img" src="../source/profile.jpg" />
                    <div class="rapper_name">인공지능 랩소디</div>
                    <img class="play" src="../source/record.png" width=50px height=50px />
                    <br />
                    <label class="pick"><input type="radio" name="rapstar" value="rapstar3"></label>
                </div>
                <div class="rapstar4">
                    <img class="rapper_img" src="../source/profile.jpg" />
                    <div class="rapper_name">리듬을 쳐줘요 대촌동 타자기</div>
                    <img class="play" src="../source/record.png" width=50px height=50px />
                    <br />
                    <label class="pick"><input type="radio" name="rapstar" value="rapstar4"></label>
                </div>
            </div>
            <br />
            <div class="ToSubmit">
                <button class="submitbtn" type="submit"> 제출하기</button>
            </div>
        </form>

    </div>
    <script type="text/javascript" src="../js/countdown.js"></script>
    <script type="text/javascript"> window.history.forward(); function noBack() { window.history.forword(); }</script>
</body>

</html>