<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Record</title>
    <link rel="stylesheet" href="{% static 'css/record.css' %}" />
    <script type="text/javascript" src="jquery.min.js"></script>
    <script type="text/javascript" src="mp3recorder.js"></script>
</head>
<div class="themeselection">
    <div class="suggest">테마를 골라보세요</div>
    <br />
    <div class="themes">
        <button type="button" class="theme">theme1</button>
        <button type="button" class="theme">theme2</button>
        <button type="button" class="theme">theme3</button>
        <button type="button" class="theme">theme4</button>
        <button type="button" class="theme">theme5</button>
    </div>
</div>
<br />
<div class=lyrics>숱하게 스쳐간<br />
    감정들에 무뎌지는 감각<br />
    언제부턴가 익숙해져버린<br />
    마음을 숨기는 법들
</div>
<br />
<br />
<div class="beatselection">
    <div class="suggest">비트를 골라보세요</div>
    <br />
    <div class="beats">
        <!-- db에서 갖고 올 것 -->
        {% for beat in beats %}
            <audio id='{{beat.beat_title}}' src="{{ beat.beat_file.url }}"></audio>
            <button type="button" onclick="play('{{beat.beat_title}}')" class="beataudio">{{beat.beat_title}} <br /> {{beat.beat_producer}}</button>
        {% endfor %}
    </div>
</div>
<br />
<br />
<br />
<div class=recordsection>
    <div class="suggest">녹음하기</div>
    <img class="record" src="{% static 'source/record.png' %}"  width=70px height=70px />
</div>


<!-- ################################### -->
<div id="controls">
    <button id="recordButton">Record</button>
    <button id="pauseButton" disabled>Pause</button>
    <button id="stopButton" disabled>Stop</button>
    <form action="{% url 'save' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="fileToUpload" id="fileToUpload">
    <input type="submit" value="Upload Image" name="submit">
 </div>
 <div id="formats">Format: start recording to see sample rate</div>
   <p><strong>Recordings:</strong></p>
   <ol id="recordingsList"></ol>
 <!-- inserting these scripts at the end to be able to use all the elements in the DOM -->
   <script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script>
   <script src="{% static 'js/record.js' %}"></script>
</body>

</html>